body {
  font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header, footer {
  background-color: #d2322d;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6, a {
  color: #d2322d;
}

a:visited {
  color: #94201c;
}

header h1 {
  font-family: Raleway, "Helvetica Neue", sans-serif;
  color: #ffffff;
}

dt {
  font-weight: 600;
  padding: 0 0 0.5rem 0;
}

dd {
  margin: 0 0 3rem 0 !important;
}

dd ul {
  margin: 0;
}

.highlight {
  background-color: #ffffcc;
}
