<section class="f p3">
  <h2 class="f-title mb2">Game Making Resources</h2>
  <dl>
    <dt><a href="https://github.com/cannikin/Pumpkin_Snatch">Pumpkin Snatch Source</a></dt>
    <dd>
      Download and open in GameMaker Studio. Make changes, play around, do whatever you want!
      <ul>
        <li class="inline-block w4">
          <a href="https://github.com/cannikin/Pumpkin_Snatch"><%= image_tag 'pumpkin-snatch/ps1.png' %></a>
        </li>
        <li class="inline-block w4">
          <a href="https://github.com/cannikin/Pumpkin_Snatch"><%= image_tag 'pumpkin-snatch/ps2.png' %></a>
        </li>
        <li class="inline-block w4">
          <a href="https://github.com/cannikin/Pumpkin_Snatch"><%= image_tag 'pumpkin-snatch/ps3.png' %></a>
        </li>
      </ul>
    </dd>

    <dt class="mt3"><a href="https://www.yoyogames.com/get">GameMaker Studio 2</a></dt>
    <dd>
      You only need the free version for now. You're limited in the number of "things" you can have, but when you hit that limit hopefully your game will be far enough along that you can show your family and get some money! <strong class="ml1">Make sure you download GameMaker Studio 2, not version 1.4</strong>
      <ul class="flex flex-top">
        <li class="up5">
          <a href="https://www.yoyogames.com/get"><%= image_tag 'pumpkin-snatch/gms2.png' %></a>
        </li>
      </ul>
    </dd>

    <dt class="mt3">Games Built with GameMaker</dt>
    <dd>
      <ul class="list">
        <li><a href="https://www.yoyogames.com/showcase">GameMaker Showcase</a></li>
        <li><a href="http://www.heart-machine.com/">Hyperlight Drifter</a></li>
      </ul>
    </dd>

    <dt class="mt3">Tutorials</dt>
    <dd>
      <ul class="list">
        <li><a href="https://www.youtube.com/channel/UCn7FE3Tx391g1tWPv-1tv7Q">Shaun Spalding's channel</a></li>
        <li><a href="https://www.youtube.com/watch?v=izNXbMdu348&list=PLPRT_JORnIupqWsjRpJZjG07N01Wsw_GJ">Shaun's ongoing platformer series</a></li>
        <li><a href="https://www.yoyogames.com/learn">GameMaker's own video tutorials</a></li>
        <li><a href="https://marketplace.yoyogames.com/category/70/tutorials">GameMaker tutorials that run in the app</a></li>
      </ul>
    </dd>

    <dt class="mt3">Game Assets (Images and Music)</dt>
    <dd>
      <ul class="list">
        <li><a href="https://www.gamedevmarket.net?ally=uKGxaoVz">Game Dev Market</a></li>
        <li><a href="http://pixelgameart.org/web/">Pixel Game Art</a></li>
        <li><a href="https://opengameart.org/">Open Game Art</a></li>
        <li><a href="https://gamedev.stackexchange.com/questions/20/where-can-i-find-free-sprites-and-images">Stack Exchange Question/Answer</a>
      </ul>
    </dd>

    <dt class="mt3">Making Your Own Graphics</dt>
    <dd>
      <ul class="list">
        <li><a href="https://help.yoyogames.com/hc/en-us/articles/216757438-Using-The-GameMaker-Studio-2-Image-Editor">GameMaker's built-in editor</a></li>
        <li><a href="http://rizer.co/pixaki">Pixaki for iPad</a></li>
        <li><a href="https://www.aseprite.org">aseprite for Win/Mac/Linux</a></li>
      </ul>
    </dd>

    <dt class="mt3">Books & Magazines</dt>
    <dd>
      <ul class="flex flex-top">
        <li class="up5 p2">
          <div class="center">
            <img src="https://images-na.ssl-images-amazon.com/images/I/51eVLMWzwmL._AC_US436_QL65_.jpg">
            <ficaption class="block">
              <a href="http://amzn.to/2EZ6PM7">Level up! The Guide to Great Video Game Design</a>
            </ficaption>
          </div>
        </li>
        <li class="up5 p2">
          <div class="center">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61H6vxiNURL._AC_US436_QL65_.jpg">
            <figcaption class="block">
              <a href="http://amzn.to/2CobxB7">Theory of Fun for Game Design</a>
            </figcaption>
          </div>
        </li>
        <li class="up5 p2">
          <div class="center">
            <img src="https://images-na.ssl-images-amazon.com/images/I/61NBp9d8k1L._AC_US436_QL65_.jpg">
            <ficaption class="block">
              <a href="http://amzn.to/2CAUGP7">Retro Gamer Magazine</a>
            </ficaption>
          </div>
        </li>
        <li class="up5 p2">
          <div class="center">
            <img src="https://cdn.shopify.com/s/files/1/0943/3604/products/NESCOVER_grande.jpg?v=1489388773">
            <ficaption class="block">
              <a href="https://www.bitmapbooks.co.uk/">Bitmap Books</a>
            </ficaption>
          </div>
        </li>
      </ul>
    </dd>

    <dt class="mt3">Kickstarter Games & Books</dt>
    <dd>
      <ul class="flex flex-top">
        <li class="up5 p2">
          <div class="center">
            <img src="https://ksr-ugc.imgix.net/assets/013/074/182/abcbe51fe4415e35cf4bffa676e40846_original.jpg?crop=faces&w=1552&h=873&fit=crop&v=1481149948&auto=format&q=92&s=d8af4eceab1b5eb92cddab2c4952c630">
            <ficaption class="block">
              <a href="https://www.kickstarter.com/projects/63454976/tanglewood-an-original-game-for-the-sega-genesis-m?ref=user_menu">Tanglewood</a>
            </ficaption>
          </div>
        </li>
        <li class="up5 p2">
          <div class="center">
            <img src="https://ksr-ugc.imgix.net/assets/012/430/119/22bd1931edf7cc694dd8e0db1ea7a5b2_original.png?crop=faces&w=1552&h=873&fit=crop&v=1504549662&auto=format&q=92&s=bfac991a4a72f747d791421ba4949b2c">
            <figcaption class="block">
              <a href="https://www.kickstarter.com/projects/thunderhorse/flynn-son-of-crimson-fast-paced-2d-action-platform?ref=user_menu">Flynn: Son of Crimson</a>
            </figcaption>
          </div>
        </li>
        <li class="up5 p2">
          <div class="center">
            <img src="https://ksr-ugc.imgix.net/assets/018/674/391/456fc87efe3a714de6b40091c6f7076e_original.jpg?w=680&fit=max&v=1507576520&auto=format&q=92&s=8d7466a0821186408e5c497b2d7bd470">
            <ficaption class="block">
              <a href="https://www.kickstarter.com/projects/2020158234/girls-make-games-presents-find-me?ref=user_menu">Find Me</a>
            </ficaption>
          </div>
        </li>
      </ul>
    </dd>
  </dl>

  <h2 class="f-title mb2">Contact Me</h2>
  <p>I'll do my best to help out with coding questions!</p>
  <ul>
    <li>Email: <a href="mailto:camerontech.io@fastmail.com">rob.cameron@fastmail.com</a></li>
    <li>Twitter: <a href="https://twitter.com/cannikin">@cannikin</a></li>
  </ul>
</section>

